<div id="mapBasic">
    <h4>Location</h4>
    <div class="form-group form-group-sm row">
        <label class="col-sm-2 control-label">Lat: </label>
        <div class=" col-sm-6">
            <input type="text" id="tbLat" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group form-group-sm row">
        <label class="col-sm-2 control-label">Lng: </label>
        <div class=" col-sm-6">
            <input type="text" id="tbLng" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group form-group-sm row">
        <label class="col-sm-2 control-label">Zoom: </label>
        <div class=" col-sm-6">
            <input type="text" id="tbZoom" class="form-control input-sm" />
        </div>
    </div>
    <hr />
    <h4>Bounds</h4>
    <div class="form-group form-group-sm row">
        <label class="col-sm-4 control-label">NorthEast (Lat, Lng): </label>
        <div class=" col-sm-4">
            <input type="text" id="tbNorthEastLat" class="form-control input-sm" />
        </div>
        <div class=" col-sm-4">
            <input type="text" id="tbNorthEastLng" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group form-group-sm row">
        <label class="col-sm-4 control-label">SouthWest (Lat, Lng): </label>
        <div class=" col-sm-4">
            <input type="text" id="tbSouthWestLat" class="form-control input-sm" />
        </div>
        <div class=" col-sm-4">
            <input type="text" id="tbSouthWestLng" class="form-control input-sm" />
        </div>
    </div>
</div>