<div id="markerOptions">
    <h4>Set New Marker</h4>
    <div class="form-group form-group-sm row">
        <label class="col-sm-1 control-label">Lat: </label>
        <div class=" col-sm-3">
            <input type="text" id="tbNewMarkerLat" class="form-control input-sm" />
        </div>
        <label class="col-sm-1 control-label">Lng: </label>
        <div class=" col-sm-3">
            <input type="text" id="tbNewMarkerLng" class="form-control input-sm" />
        </div>
        <button id="set-new-marker" class="btn btn-sm btn-success">Set Marker</button>
    </div>
    <button id="set-center-marker" class="btn btn-sm btn-success">Set Center</button>
    <button id="clear-all-marker" class="btn btn-sm btn-danger">Clear All markers</button>
    <hr />
    <h4>Set many markers</h4>
    <div class="form-group form-group-sm row">
        <label class="col-sm-2 control-label">How many: </label>
        <div class=" col-sm-3">
            <input type="text" id="tbHowManyMarkers" class="form-control input-sm" />
        </div>
        <button id="get-bounds" class="btn btn-sm btn-warning">Get Bounds</button>
        <button id="set-random-markers" class="btn btn-sm btn-success">Set Random Markers</button>
    </div>
    <label>Bounds: </label>
    <div class="form-group form-group-sm row">
        <label class="col-sm-4 control-label">NorthEast (Lat, Lng): </label>
        <div class=" col-sm-4">
            <input type="text" id="tbNewNorthEastLat" class="form-control input-sm" />
        </div>
        <div class=" col-sm-4">
            <input type="text" id="tbNewNorthEastLng" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group form-group-sm row">
        <label class="col-sm-4 control-label">SouthWest (Lat, Lng): </label>
        <div class=" col-sm-4">
            <input type="text" id="tbNewSouthWestLat" class="form-control input-sm" />
        </div>
        <div class=" col-sm-4">
            <input type="text" id="tbNewSouthWestLng" class="form-control input-sm" />
        </div>
    </div>

</div>
